<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Love Capsule 2021</title>
    <!-- Milligram CSS for Some Default Styling -->
    <!-- Google Fonts -->
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic"
    />
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Bowlby+One+SC&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&display=swap" rel="stylesheet">
    
    <!-- CSS Reset -->
    <!-- <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css"
    /> -->

    <!-- Milligram CSS -->
    <!-- <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.4.1/milligram.css"
    /> -->

    <!-- Jquery -->
    <script
      src="https://code.jquery.com/jquery-3.6.0.min.js"
      integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
      crossorigin="anonymous"
    ></script>

    <!-- OUR CSS AND JS -->
    <link rel="stylesheet" href="/styles.css" />
    <script src="/app.js" defer></script>
  </head>
  <body>
    <div class="wrapAll">
    <header>
      <a href="/"><div class="title">
      <center><h1>The Love Capsule 🕯</h1>
      <h2>A Time Capsule Of Rememberance</h2></center>
      </div></a>
      <ul>
        <li>Salute Your Loved One</li>
        <li>.33¢ per pixel</li>
        <li>In the Universe Forever</li>
      </ul>
      <div class="powr-visitor-counter" id="e86ee3df_1635485471"></div><script src="https://www.powr.io/powr.js?platform=html"></script>
    </header>

    <main>{% block content %}My default content{% endblock %}</main>

    <footer>
      <p class="salute">As this Time Capsule fills, we send our devotion into the universe. We miss you. We love you.</p>
      <h5>site by <a href="http://iyahtv.com"><img src="https://howtobeafamousrapper.com/wp-content/uploads/2014/12/iyahlogo.png" alt="iyah fine arts logo" /></a>IYAH</h5>
    
    <div class="privacy">  
      <button id="myBtn">☰</button>
      <div id="myModal" class="modal">
        
        
        <div class="modal-content">
          <span class="close">&times;</span>
          <a href="https://rapshirts.org/policy/"> -Privacy |</a>
          <a href="/user/logout">-Logout |</a>          
        </div>
       
      </div>
    </div> 
   </footer>
  </div>
  </body>
</html>