{% layout "layout.liquid" %}
{% block content %}

<div>
    <navigation>
        <center> <a href="/capsules/respect">Click Here To Post A New Capsule For Your Loved One</a></center>
       </navigation>
    <article class="mainwrap">
    {% for capsule in capsules %}
        
        
        <a href="/capsules/{{ capsule._id }}">
            <img src="{{capsule.picture}}" title="{{capsule.message}}"/>
                
        </a>

{% endfor %}
</article>

</div>

{% endblock %}