{% layout "layout.liquid" %}
{% block content %}

<div>
    
    <article class="mainwrap">
    {% for capsule in capsules %}
        
        <div class="capwrap">
        <span class="border"></span>
        <a href="/capsules/{{ capsule._id }}">
                <img id="capsule" src="{{capsule.picture}}" title="{{capsule.message}}"/>               
        </a>
    </div>

{% endfor %}
</article>
<navigation>
        <center> <a href="/capsules/respect">Click Here To Post A New Capsule For Your Loved One</a></center>
       </navigation>
</div>

{% endblock %}