{% layout "layout.liquid" %}
{% block content %}

<div>
    
    <article>
        
        <h1>Post Now For Your Loved Ones</h1>
        <a href="/user/signup">Click Here Now To Post</a>
</article>



</div>

{% endblock %}