{% layout "layout.liquid" %}
{% block content %}

<div>
    
    <article class="letter">
        
        <h1>This Time Capsule will share your devotion to the memory of your Loved Ones with the world, forever!</h1>
        <center><audio controls>
            <source src="https://rapshirts.org/wp-content/uploads/2021/10/LoveCapsule_little_feelings.mp3" type="audio/mpeg">
            Your browser does not support the audio tag.
          </audio></center>
        <p>The pride<br/>  
Love<br/>  
The understanding<br/>  
The camaraderie<br/>  
The truth<br/>  
The handholding<br/>  
The revealing<br/>  <br/>  
But wanting<br/>  
Remembering...<br/>  
And now we take it upon ourselves<br/>  
To shine a light on the souls that made us feel something good in this life<br/>  
<br/>  
The immediate past has been a whirlwind it's all happened faster than we've been able to react.<br/>  
  They were here. <br/>  
   We had them. <br/>  
    We didn't know.<br/>  
      And then suddenly there was change. <br/>   Sadness. <br/>   Rage. <br/>   
      And we're left here alone.  <br/>  Without the whole.  Without the strength.  <br/>  
Without the guidance.  Without knowing what to do.<br/>  
We feel like falling on our knees and yelling to the universal source that's listening.<br/>  
And right now I'd tell you my friend, <br/>  the universal source is listening.<br/>  
And so we gather here today because we can't gather.<br/>  
Because we can't come together.<br/>    Because we can't touch one another.<br/>    
Because we can't touch all them souls anymore.<br/>  
There's been so much loss.  <br/>  There's been so much pain.  <br/>  None of us have been able to escape it.  <br/>  And we all want to look deeply into each other's eyes but feel forced and afraid because the eyes is all we have left in the world.  <br/>  
And we don't have our loved one to accomplish this time with.  <br/>  
So as we think about the universal source we have to recognize that is beyond us. <br/>  
 We have to recognize that our opportunity still exists. <br/>  
  And in this opportunity there is hope to get better in the future.<br/>  <br/>  
And as I experienced my loss in having known someone <br/>  
and that person being so pivotal in my accomplishment of myself <br/>  
and then the split of life <br/>  
and then the regret of the time and life lost.  <br/>  
And as I searched for something to give me a light to speak to the universal source, <br/>  
I remembered the concept of the time capsule.  <br/>  
In the time capsule we put everything that matters to us most at that particular point in time.  <br/>  
We do this in the expectation that when it is discovered, <br/>  
it will make communication that rings true at all points in time forever.<br/>  
The universal source hears because we're giving our: <br/>  
communication <br/>  and vibration <br/>  and energy <br/>  
right now to be projected for ever and all time.<br/>  
And so I have put together the <br/>  <b>Love Capsule 2021</b> <br/>  
to allow us to come together, <br/>  one and all, <br/>  from around the world, <br/>  
to send our salute to our loved one and a shout of positivity that the universal source will hear and carry on the vibration for us for all time.<br/>  
So I invite you today to take part in this time capsule.  <br/>  
Make your devotion to your loved one in three simple steps:  <br/>  <br/>  
First you will enter the URL web address of the picture of your loved one or symbol that you wish to put into the time capsule.  <br/>  
Second you type of message to the universal source in your loved one that you want to be heard forever.  <br/>  
And finally you will select the country you're from.<br/>  
Your loved one's image will show in a 30 by 30 pixels frame in the capsule.  <br/>  
Anyone who clicks that image will be shown your image and message in full. <br/>  
 This message and view will live on for all time* <br/>  <img src="https://i.imgur.com/RI1MAhz.png"/> <br/>
 and through our paid efforts, we aim for this time capsule to <i>be seen by upward of one million people per month.</i><br/>  
Our collective positive energy makes that happen and <br/>  
I invite you today to make your commitment to the statement of your loved one and join us <br/>  
in <br/> <b> the Love Capsule 2021.</b><br/>  
When you make your one-time payment by hitting the big yellow button below, <br/>  <img src="https://i.imgur.com/39NqpZ9.png"/> <br/>
you will be taken to a secure check out <br/>  
and then you will be able to create your capsule <br/>  
and then you will join us in sharing that testimonial to the world.  <br/>  
The vibration of the connection between you and the person are saluting will resonate throughout all existence and all time.  <br/>  
<b>Allow yourself the satisfaction on earth of connection with your loved ones universal source.</b>  <br/>  
Let's make this vibration happen together and praise and remember all our loved souls and <br/>  
watch their lights shine in the capsule as one for all time. <br/>  
 Hit the big yellow button and Join us now.
</p>  
<center><a href="https://buy.stripe.com/test_00geYJdyQcU3cSIaEE"><img src="https://i.imgur.com/yjmtLXc.gif" /></a></center>
</article>



</div>

{% endblock %}