{% layout "layout.liquid" %}
{% block content %}

<div>
    
    <article class="letter">
        
        <h1>Share your devotion to the memory of your Loved Ones with the world, forever!</h1>
        <a href="/user/signup">Click Here Now To Post</a>
</article>



</div>

{% endblock %}