{% layout "layout.liquid" %}
{% block content %}

<center><article>

    <img src="{{capsule.picture}}" />
    <h3 class="message">{{capsule.message}}</h3>
    

</article></center>
<div class="bottomless">
<a href="/capsules/{{ capsule._id }}/edit"><button>EDIT</button></a>
 <a href="/"><button>Back to Main</button></a>   
<form action="/capsules/{{ capsule._id }}?_method=DELETE" method="post">
    <input type="submit" value="DELETE">
    </form>
</div>
    

{% endblock %}